.Bacon,
.Cheese,
.Meat,
.Salad {
  justify-content: center;
  align-items: center;
  margin: 0.2em 0em;
  border-radius: 2em;
  width: 27%;
}

.Bacon {
  background-color: brown;
  color: yellow;
  height: 1.5em;
}

.Cheese {
  background-color: yellow;
  height: 1em;
}

.Meat {
  background-color: red;
  color: yellow;
  height: 2.5em;
}

.Salad {
  background-color: #5af153;
  height: 1.5em;
}
